.gallery-banner {
  width: 100%;
  .banner {
    width: 100%;
  }
  .title-container {
    width: 100%;
    background: #e6ebf1;
    padding: 10px 0;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-size: 1.6rem;
        color: #184981;
      }
    }
  }
}
.gallery-container {
  max-width: 250px;
  overflow: hidden;
  padding: .6rem;
  img {
    background-color: rgba(28, 110, 164, 0.42);
    width: 100%;
    object-fit: contain;
    height: 160px;
    margin: 0 2px 0 0;
    cursor: pointer;
    border-radius: 7px;
    border: 1px solid rgba(28, 110, 164, 0.42);
  }
}
