<div class="news-banner">
  <img class="banner" src="../../../assets/program-banner.jpg">
  <div class="title-container">
    <div class="container">
      <span>NOTICIAS</span>
    </div>
  </div>
</div>
<div class="program-content">
  <div class="container py-4">
    <div class="card mb-3" *ngFor="let i of news">
      <div class="row no-gutters">
        <div class="col-md-3">
          <img [src]="i.image" class="card-img m-2 img-thumbnail">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <!-- <h5 class="card-title">Card title</h5> -->
            <p class="card-text">{{ i.content }}</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            <div class="text-right">
              <button class="btn btn-warning">Ver más</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
