<div class="program-banner">
  <img class="banner" src="../../../assets/program-banner.jpg">
  <div class="title-container">
    <div class="container">
      <span>{{ academic.nombre }}</span>
    </div>
  </div>
</div>
<div class="program-content">
  <div class="container py-4">
    <div class="row">
      <div class="col-12 col-md-3 col-lg-3">
        <img [src]="academic.imagen" class="rounded-circle">
      </div>
      <div class="col-12 col-md-9 col-lg-9">
        <dl>
          <dt class="text-secondary">Correo</dt>
          <dd>{{ academic.correo }}</dd>
          <dt class="text-secondary">Resumen</dt>
          <dd [innerHTML]="academic.resumen"></dd>
        </dl>
      </div>
      <div class="col-12">
        <p title="Ver/Ocultar Publicaciones" class="text-warning" style="cursor: pointer;"
          (click)="showPapers = !showPapers">
          <b>Publicaciones</b>
        </p>
      </div>
      <div class="col-12" *ngIf="showPapers" [innerHTML]="academic.publicaciones"></div>
      <div class="col-12">
        <p title="Ver/Ocultar Proyectos" class="text-warning" style="cursor: pointer;"
          (click)="showProyects = !showProyects">
          <b>Proyectos</b>
        </p>
        <br>
      </div>
      <div class="col-12" *ngIf="showProyects" [innerHTML]="academic.proyectos"></div>
    </div>
  </div>
</div>
